.badge {
    font-size: 75%;
    font-weight: 400;
    line-height: 1;
    display: inline-block;
    padding: .33em .5em;
    text-align: center;
    vertical-align: baseline;
    white-space: nowrap;
    border-radius: .375rem
}

.badge:empty {
    display: none
}

.btn .badge {
    position: relative;
    top: -1px
}

.badge-pill {
    padding-right: .6em;
    padding-left: .6em;
    border-radius: 10rem
}

.badge-primary {
    color: #fff;
    background-color: #2c7be5
}

.badge-primary[href]:focus,
.badge-primary[href]:hover {
    text-decoration: none;
    color: #fff;
    background-color: #1862c6
}

.badge-secondary {
    color: #fff;
    background-color: #6e84a3
}

.badge-secondary[href]:focus,
.badge-secondary[href]:hover {
    text-decoration: none;
    color: #fff;
    background-color: #566b88
}

.badge-success {
    color: #fff;
    background-color: #00d97e
}

.badge-success[href]:focus,
.badge-success[href]:hover {
    text-decoration: none;
    color: #fff;
    background-color: #00a660
}

.badge-info {
    color: #fff;
    background-color: #39afd1
}

.badge-info[href]:focus,
.badge-info[href]:hover {
    text-decoration: none;
    color: #fff;
    background-color: #2991ae
}

.badge-warning {
    color: #283e59;
    background-color: #f6c343
}

.badge-warning[href]:focus,
.badge-warning[href]:hover {
    text-decoration: none;
    color: #283e59;
    background-color: #f4b312
}

.badge-danger {
    color: #fff;
    background-color: #e63757
}

.badge-danger[href]:focus,
.badge-danger[href]:hover {
    text-decoration: none;
    color: #fff;
    background-color: #d01a3b
}

.badge-light {
    color: #fff;
    background-color: #152e4d
}

.badge-light[href]:focus,
.badge-light[href]:hover {
    text-decoration: none;
    color: #fff;
    background-color: #0a1625
}

.badge-dark {
    color: #fff;
    background-color: #12263f
}

.badge-dark[href]:focus,
.badge-dark[href]:hover {
    text-decoration: none;
    color: #fff;
    background-color: #070e17
}

.badge-white {
    color: #283e59;
    background-color: #fff
}

.badge-white[href]:focus,
.badge-white[href]:hover {
    text-decoration: none;
    color: #283e59;
    background-color: #e6e6e6
}

.badge {
    border: 1px solid #12263f
}

.badge {
    vertical-align: middle
}

.btn .badge {
    top: -2px
}

.badge-soft-primary {
    color: #2c7be5;
    background-color: #173760
}

.badge-soft-primary[href]:focus,
.badge-soft-primary[href]:hover {
    text-decoration: none;
    color: #2c7be5;
    background-color: #122b4b
}

.badge-soft-secondary {
    color: #6e84a3;
    background-color: #243953
}

.badge-soft-secondary[href]:focus,
.badge-soft-secondary[href]:hover {
    text-decoration: none;
    color: #6e84a3;
    background-color: #1c2d41
}

.badge-soft-success {
    color: #00d97e;
    background-color: #0e4a4c
}

.badge-soft-success[href]:focus,
.badge-soft-success[href]:hover {
    text-decoration: none;
    color: #00d97e;
    background-color: #0a3536
}

.badge-soft-info {
    color: #39afd1;
    background-color: #1a415c
}

.badge-soft-info[href]:focus,
.badge-soft-info[href]:hover {
    text-decoration: none;
    color: #39afd1;
    background-color: #143348
}

.badge-soft-warning {
    color: #f6c343;
    background-color: #404540
}

.badge-soft-warning[href]:focus,
.badge-soft-warning[href]:hover {
    text-decoration: none;
    color: #f6c343;
    background-color: #343834
}

.badge-soft-danger {
    color: #e63757;
    background-color: #3c2944
}

.badge-soft-danger[href]:focus,
.badge-soft-danger[href]:hover {
    text-decoration: none;
    color: #e63757;
    background-color: #2e1f34
}

.badge-soft-light {
    color: #152e4d;
    background-color: #132842
}

.badge-soft-light[href]:focus,
.badge-soft-light[href]:hover {
    text-decoration: none;
    color: #152e4d;
    background-color: #0d1c2e
}

.badge-soft-dark {
    color: #12263f;
    background-color: #12263f
}

.badge-soft-dark[href]:focus,
.badge-soft-dark[href]:hover {
    text-decoration: none;
    color: #12263f;
    background-color: #0c1a2b
}

.badge-soft-white {
    color: #fff;
    background-color: #415165
}

.badge-soft-white[href]:focus,
.badge-soft-white[href]:hover {
    text-decoration: none;
    color: #fff;
    background-color: #374555
}